
aiKart/aiKart.sln

*.dll
*.pdb
*.cache
*.pdb
aiKart.Tests/coverage.json
aiKart.Tests/coverage.cobertura.xml
aiKart.Tests/coverage.json
aiKart.Tests/bin/Debug/net7.0/dbconnection.json
aiKart.Tests/bin/Debug/net7.0/spa.proxy.json
aiKart.Tests/obj/Debug/net7.0/aiKart.Tests.GeneratedMSBuildEditorConfig.editorconfig
aiKart.Tests/obj/Debug/net7.0/aiKart.Tests.csproj.CopyComplete
aiKart.Tests/obj/aiKart.Tests.csproj.nuget.dgspec.json
aiKart.Tests/obj/Debug/net7.0/aiKart.Tests.csproj.FileListAbsolute.txt
aiKart.Tests/obj/aiKart.Tests.csproj.nuget.g.props
aiKart.Tests/bin/Debug/net7.0/CoverletSourceRootsMapping
aiKart.Tests/obj/project.assets.json
aikart.sln
aiKart.Tests/coveragereport/aiKart_CardAnkiAlgorithmParams.html
aiKart.Tests/coveragereport/aiKart_CardController.html
aiKart.Tests/coveragereport/aiKart_CardDto.html
aiKart.Tests/coveragereport/aiKart_CardRepository.html
aiKart.Tests/coveragereport/aiKart_CardService.html
aiKart.Tests/coveragereport/aiKart_CardStateDto.html
aiKart.Tests/coveragereport/aiKart_CloneDeckDto.html
aiKart.Tests/coveragereport/aiKart_DataContext.html
aiKart.Tests/coveragereport/aiKart_DataContextModelSnapshot.html
aiKart.Tests/coveragereport/aiKart_Deck.html
aiKart.Tests/coveragereport/aiKart_DeckController.html
aiKart.Tests/coveragereport/aiKart_DeckCreatorID.html
aiKart.Tests/coveragereport/aiKart_DeckDto.html
aiKart.Tests/coveragereport/aiKart_DeckRepository.html
aiKart.Tests/coveragereport/aiKart_DeckService.html
aiKart.Tests/coveragereport/aiKart_DeckStatistics.html
aiKart.Tests/coveragereport/aiKart_EntityValidationException_1.html
aiKart.Tests/coveragereport/aiKart_MappingProfiles.html
aiKart.Tests/coveragereport/aiKart_migration_4.html
aiKart.Tests/coveragereport/aiKart_Program.html
aiKart.Tests/coveragereport/aiKart_Seed.html
aiKart.Tests/coveragereport/aiKart_Shuffler_1.html
aiKart.Tests/coveragereport/aiKart_TriviaApiResponseDto.html
aiKart.Tests/coveragereport/aiKart_TriviaController.html
aiKart.Tests/coveragereport/aiKart_TriviaDeckRequestDto.html
aiKart.Tests/coveragereport/aiKart_TriviaQuestionDto.html
aiKart.Tests/coveragereport/aiKart_UpdateCardDto.html
aiKart.Tests/coveragereport/aiKart_UpdateDeckDto.html
aiKart.Tests/coveragereport/aiKart_UpdateUserDecksStatistics.html
aiKart.Tests/coveragereport/aiKart_User.html
aiKart.Tests/coveragereport/aiKart_UserCardDto.html
aiKart.Tests/coveragereport/aiKart_UserController.html
aiKart.Tests/coveragereport/aiKart_UserDeck.html
aiKart.Tests/coveragereport/aiKart_UserDeckController.html
aiKart.Tests/coveragereport/aiKart_UserDeckDto.html
aiKart.Tests/coveragereport/aiKart_UserDeckRepository.html
aiKart.Tests/coveragereport/aiKart_UserDeckService.html
aiKart.Tests/coveragereport/aiKart_UserDto.html
aiKart.Tests/coveragereport/aiKart_UserRepository.html
aiKart.Tests/coveragereport/aiKart_UserResponseDto.html
aiKart.Tests/coveragereport/aiKart_UserService.html
aiKart.Tests/coveragereport/class.js
aiKart.Tests/coveragereport/icon_cog.svg
aiKart.Tests/coveragereport/icon_cog_dark.svg
aiKart.Tests/coveragereport/icon_cube.svg
aiKart.Tests/coveragereport/icon_cube_dark.svg
aiKart.Tests/coveragereport/icon_down-dir_active.svg
aiKart.Tests/coveragereport/icon_down-dir_active_dark.svg
aiKart.Tests/coveragereport/icon_fork.svg
aiKart.Tests/coveragereport/icon_fork_dark.svg
aiKart.Tests/coveragereport/icon_info-circled.svg
aiKart.Tests/coveragereport/icon_info-circled_dark.svg
aiKart.Tests/coveragereport/icon_minus.svg
aiKart.Tests/coveragereport/icon_minus_dark.svg
aiKart.Tests/coveragereport/icon_plus.svg
aiKart.Tests/coveragereport/icon_plus_dark.svg
aiKart.Tests/coveragereport/icon_search-minus.svg
aiKart.Tests/coveragereport/icon_search-minus_dark.svg
aiKart.Tests/coveragereport/icon_search-plus.svg
aiKart.Tests/coveragereport/icon_search-plus_dark.svg
aiKart.Tests/coveragereport/icon_sponsor.svg
aiKart.Tests/coveragereport/icon_star.svg
aiKart.Tests/coveragereport/icon_star_dark.svg
aiKart.Tests/coveragereport/icon_up-dir.svg
aiKart.Tests/coveragereport/icon_up-dir_active.svg
aiKart.Tests/coveragereport/icon_wrench.svg
aiKart.Tests/coveragereport/icon_wrench_dark.svg
aiKart.Tests/coveragereport/index.htm
aiKart.Tests/coveragereport/index.html
aiKart.Tests/coveragereport/main.js
aiKart.Tests/coveragereport/report.css
aiKart.Tests/tools/reportgenerator.exe
aiKart.Tests/coveragereport/aiKart_AddCardDto.html
aiKart.Tests/coveragereport/aiKart_AddDeckDto.html
aiKart.Tests/coveragereport/aiKart_AddingUsers.html
aiKart.Tests/coveragereport/aiKart_AddIsPublicToDecks.html
aiKart.Tests/coveragereport/aiKart_AutoGeneratedProgram.html
aiKart.Tests/coveragereport/aiKart_Card.html
aiKart.Tests/TestResults/181eb6d8-1de6-4ddc-aa81-93c6d7625b42/coverage.cobertura.xml
aiKart.Tests/TestResults/184c3a78-1575-4062-bc61-990385e3e409/coverage.cobertura.xml
aiKart.Tests/TestResults/4db45b2c-6343-4e97-83b3-19cd37e6e7ff/coverage.cobertura.xml
aiKart.Tests/TestResults/7ed42e9a-fc52-44d4-bec5-4092b78a0682/coverage.cobertura.xml
aiKart.Tests/TestResults/9531b9ad-4553-4a66-86ea-621035d5eb54/coverage.cobertura.xml
aiKart.Tests/TestResults/a8fdcfe9-5e29-49b9-ac22-bed5d2ae83aa/rokax_SCHIZO_2023-12-05.01_13_54.coverage
aiKart.Tests/TestResults/aa4bdc3d-2d3d-463c-9ff7-39bcca7b409c/coverage.cobertura.xml
aiKart.Tests/TestResults/c07a2fbb-8959-4dc9-bea9-1cfe0dc51de0/coverage.cobertura.xml
aiKart.Tests/tools/.store/dotnet-reportgenerator-globaltool/5.2.0/dotnet-reportgenerator-globaltool/5.2.0/.nupkg.metadata
aiKart.Tests/tools/.store/dotnet-reportgenerator-globaltool/5.2.0/dotnet-reportgenerator-globaltool/5.2.0/.signature.p7s
aiKart.Tests/tools/.store/dotnet-reportgenerator-globaltool/5.2.0/dotnet-reportgenerator-globaltool/5.2.0/dotnet-reportgenerator-globaltool.5.2.0.nupkg
aiKart.Tests/tools/.store/dotnet-reportgenerator-globaltool/5.2.0/dotnet-reportgenerator-globaltool/5.2.0/dotnet-reportgenerator-globaltool.5.2.0.nupkg.sha512
aiKart.Tests/tools/.store/dotnet-reportgenerator-globaltool/5.2.0/dotnet-reportgenerator-globaltool/5.2.0/dotnet-reportgenerator-globaltool.nuspec
aiKart.Tests/tools/.store/dotnet-reportgenerator-globaltool/5.2.0/dotnet-reportgenerator-globaltool/5.2.0/icon.png
aiKart.Tests/tools/.store/dotnet-reportgenerator-globaltool/5.2.0/dotnet-reportgenerator-globaltool/5.2.0/tools/net7.0/any/ReportGenerator.exe
aiKart.Tests/tools/.store/dotnet-reportgenerator-globaltool/5.2.0/restore.csproj.nuget.g.props
aiKart.Tests/tools/.store/dotnet-reportgenerator-globaltool/5.2.0/dotnet-reportgenerator-globaltool/5.2.0/tools/net8.0/any/ReportGenerator.exe
